* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: black; /* Change this to your desired text color */
}

#header{
    width: 100%;
    height: 100vh;
    color: black;
    text-decoration: none;
    background-image: url(photos/cover.png);
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.logo a{
    color: black;
    text-decoration: none;
    font-size: 35px;
    letter-spacing: 6px; /* Adjust the value as needed */
}

.container{
    padding: 20px 20px;
    margin: auto;
    background-color: transparent;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul {
    margin-left: auto;
    margin-right: 0px; 
}

nav ul li{
    display: inline;
    list-style: none;
    margin: 0 20px;
}

nav ul li a{
    display: inline-block;
    list-style: none;
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color from parent */
    font-size: 15px;
}

/*--about--*/

#about{
    padding: 300px 0;
    color:black;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-col-1{
    flex-basis: 25%;
}

.about-col-1 img{
    width: 200%;
    height: 100%;
}

.about-col-2{
    flex-basis: 60%;
    padding-left: 50px;
}

.sub-title{
    font-size: 25px;
    color: black;
    margin-bottom: 20px;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links.active-link::after{}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    font-size: 10px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/*--work--*/

#work{
    padding: 300px 0;
    color:black;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}